.components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    color: #ffffff;
}

/* media 388px */

@media (max-width: 388px) {
    .components {
        padding-left: 60px;
    }
}